    <!-- 07/03/26 Khuong:
    1) Library Technology Initiatives and Development (LTID) recommended to Special 
    Collections (SC) that we use the customizable search bar provided by Lyrasis, and drop 
    the Ruby code that creates a Search Object.  That is because creating a Search Object 
    requires a working knowledge of Ruby and advanced knowledge of ArchivesSpace.  
    a) Both LTID and SC forsees the delay when we have custom code on a cloud-hosted
    application.  b) Both LTID and SC are OK with low-risk, high-reward customization; 
    that is why we still have some custom code to send to Lyrasis. c) The mix of Ruby
    and HTML code creates a real problem to comment out the entire section.  We will
    just delete the section entirely.

    2) SC would like to drop the front-page's carousel, because the carousel needs new
    images to be an effective tool.  SC just hasn't updated the carousel, and would like
    to drop it.
    -->
<!--
    <div class=" row front-page">
        <div class="col-sm-6">
            <div id="special-collections-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#special-collections-carousel" data-slide-to="0" class=""></li>
                    <li data-target="#special-collections-carousel" data-slide-to="1" class=""></li>
                    <li data-target="#special-collections-carousel" data-slide-to="2" class=""></li>
                    <li data-target="#special-collections-carousel" data-slide-to="3" class=""></li>
                    <li data-target="#special-collections-carousel" data-slide-to="4" class=""></li>
                    <li data-target="#special-collections-carousel" data-slide-to="5" class=""></li>
                    <li data-target="#special-collections-carousel" data-slide-to="6" class=""></li>
                    <li data-target="#special-collections-carousel" data-slide-to="7" class=""></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="https://archives.csusm.edu/ecke/items/show/1258">
                            <img src="https://archives.csusm.edu/ecke/files/thumbnails/4/1258/articles_incorporation1957_p1.jpg" alt="Image of Articles of Incorporation, page 1">
                        </a>
                        <div class="carousel-caption">
                            <h2><a href="https://archives.csusm.edu/ecke/items/show/1258">Articles of Incorporation</a></h2>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#special-collections-carousel" role="button" data-slide="prev" aria-label="Show slide 0 of 0">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#special-collections-carousel" role="button" data-slide="next" aria-label="Show slide 2 of 0">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <h3>About this Site</h3>
            <p>Use this site to explore descriptions of our collections at the California State University San Marcos Library, which include manuscripts, archival collections, prints and photographs, digital and analog media, artifacts, and other unique material.</p>
            <h3>Requesting Materials</h3>
            <p>The result page for each item includes a “Request” tab to send an email to staff at CSUSM Special Collections. Please specify a). the folder titles and box numbers for the materials you are requesting; b). the desired appointment date; and c). your contact information. You can visit the CSUSM Special Collections website for more information about the location, hours and policies for providing access to its collections. Collections are non-circulating and must be used in the reading room. Please consult staff with questions about using the materials.</p>
        </div>
    </div>
<script type="text/javascript">
    initialize_search();
</script>
-->
